{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="margin">
        {{ form_start(searchForm) }}

        {{ form_widget(searchForm) }}


        <button class="btn btn-lg btn-primary">Valider</button>

        {{ form_end(searchForm) }}
    </div>

    <div class="margin">
        <section>
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>organisateur</th>
                    <th>Action</th>

                </tr>
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date("d/m/y") }}</td>
                        <td>{{ sortie.dateLimiteinscription|date("d/m/y") }}</td>
                        <td>{{ sortie.participants.count }} / {{ sortie.nbInscriptionsMax }} </td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>{{ app.user in sortie.participants ?"x":"" }}</td>
                        <td>{{ sortie.organisateur.nom }}</td>
                        <td>
                            <a href="#" title="Afficher">Afficher</a>
                            {% if app.user in sortie.participants %}
                                <a href="{{ path('delete',{ 'id':sortie.id}) }}" title="supprimer">supprimer</a>
                                {% else%}
                                    <a href="{{ path('ajout',{ 'id':sortie.id}) }}" title="ajout">ajouter</a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}

                                - <a href=" ">publier</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </section>
        <button class="btn btn-lg btn-primary">
            <a href="{{ path('app_register') }}" title="Créer une sorti" >Créer une sortie</a>
        </button>

    </div>
{% endblock %}

