{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="margin">
        <select name="selectCampus" id="selectCampus">
        {% for campus in listCampus %}
            <option value="select">{{ campus.nom }}</option>
        {% endfor %}
        </select>
        <input type="hidden" name="Submit"
               value="{{  }}"
        >

        <section>
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>organisateur</th>
                    <th>Action</th>

                </tr>
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date("d/m/y") }}</td>
                        <td>{{ sortie.dateLimiteinscription|date("d/m/y") }}</td>
                        <td>{{ sortie.participants.count }} / {{ sortie.nbInscriptionsMax }} </td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>{{ app.user in sortie.participants ?"x":"" }}</td>
                        <td>{{ sortie.organisateur.nom }}</td>
                        <td>
                            <a href="#" title="Afficher">Afficher</a>
                            {% if app.user in sortie.participants %}

                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                - <a href="#" title="modifier">Modifier</a>
                                - <a href=" ">publier</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </section>
    </div>
{% endblock %}

